/* FormBundle */

.panel2 {
    border: 1px solid #ebedf0;
    -webkit-box-shadow: 0px 1px 1px #f3f3f3;
    box-shadow: 0px 1px 1px #f3f3f3;
    margin-left:25px;
    margin-bottom:25px;
    margin-right:25px;
    zoom:0.9;
}
.panel2 label {
    font-size:1em;
}
.panel:hover, .panel2:hover {
    border-color:#ccc;
}

.form-submitaction-group-header {
    font-size: 1.1em;
    font-weight: bold;
}

.form-field-wrapper {
    position: relative;
}

.form-field-wrapper img {
    max-width: 100%;
}

#autobornaforms_fields .autobornaform-row, #autobornaforms_actions .autobornaform-row {
    padding: 10px;
}

#autobornaforms_fields .autobornaform-row {
    margin-bottom: 0 !important;
}

#autobornaforms_actions .autobornaform-row .action-label {
    font-size: 1.1em;
    font-weight: bold;
    display: block;
}

#autobornaforms_actions .autobornaform-row .action-descr {
    font-size: 0.9em;
    display: block;
}

#autobornaforms_actions .form-buttons {
    float: right;
    margin-top: 3px;
}

#autobornaforms_fields .form-buttons {
    position: absolute;
    right: 8px;
    top: 8px;
}

#autobornaforms_fields input, #autobornaforms_fields textarea, #autobornaforms_fields select {
    background-color: #fff;
    box-shadow: 0px 0px 0px #fff inset;
    padding: 0.5em 0.5em;
    width: 50%;
}

#autobornaforms_fields .chosen-container-single .chosen-search input[type="text"] {
    width:100%;
}

.autobornaform-row {
    min-height: 60px;
}

#autobornaforms_fields .panel-footer {
    padding: 3px 15px;
}

textarea.form-html {
    height: 200px;
}

.col-form-id, .col-formresult-id {
    width: 75px;
}

.col-form-submissions {
    width: 100px;
}

.formresult-list th .input-group {
    margin-top: 10px;
}

.formresult-list th:not(.col-formresult-id):not(.col-actions) {
    min-width: 125px;
}

.formresult-list th.col-formresult-id {
    min-width: 125px;
}

.inline-spacer {
    padding-right: 20px;
}

#autobornaforms_fields input[type="date"],
#autobornaforms_fields input[type="time"],
#autobornaforms_fields input[type="datetime-local"],
#autobornaforms_fields input[type="month"] {
    line-height: inherit;
}
#autobornaforms_fields input.autobornaform-radiogrp-radio {
    width: auto;
}